{% extends 'base.html' %}
{%load static%}

    
{% block lienCss %}
<link rel="stylesheet" href="{%static 'css/pstyle.css'%}">
{% endblock %}								




{% block body %}
<!--Formulaire -->

<section class="grouper">
   
            <div class="form-container">
                <h1>Add a Teacher</h1>
                <p> <a href="{% url 'teachers:index' %}">Return <i class="	fas fa-arrow-circle-right"></i></a></p>
                
                <form action="" method="post" enctype="multipart/form-data">

                           

                    <div class="form-group">
                        {% csrf_token %}
                        {{ prof_form }}
                
                    </div>
                    <div class="form-buttons">
                        <button type="submit" name="action" value="annuler" class="cancel-button">Cancel</button>
                        <button type="submit" name="action" value="Enregistrer" class="submit-button">Save</button>
                    </div>
                </form>

                    <!--   <label for="nom"></label>
                        <input type="text" id="nom" placeholder="nom" name="nom">
                    </div>
                    <div class="form-group">
                        <label for="prenom"></label>
                        <input type="text" id="prenom" placeholder="prenom" name="prenom">
                    </div>
                    <div class="form-group gender-group">
                        <label><input type="radio" name="sexe" value="homme"> Homme: </label>
                        <label><input type="radio" name="sexe" value="femme"> Femme: </label>
                    </div>
                  
                    <div class="form-group">
                        <label for="date_naissance"> </label>
                        <input type="date" id="date_naissance" placeholder="date de naissance" name="date_naissance">
                    </div>
                    <div class="form-group">
                        <label for="classe"></label>
                        <select id="classe" name="matière">
                            <option value="">Sélectionner une matière</option>
                            <option value="">Math</option>
                            <option value="">Physique</option>
                            <option value="">EPS</option>
                            <option value="">Anglais</option>
                            <option value="">SVT</option>
                            <option value="">Philosophie</option>
                            <option value="">Francais</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="telephone"></label>
                        <input type="text" id="telephone" placeholder="telephone" name="telephone">
                    </div>
                    <div class="form-group">
                        <label for="ville"></label>
                        <input type="text" id="ville"  placeholder="ville" name="ville">
                    </div>
                    <div class="form-buttons">
                        <button type="button" class="cancel-button">Annuler</button>
                        <button type="submit" class="submit-button">Enregistrer</button>
                    </div>
                </form>
            </div> --> 

        </section>

	<script src="code.js"></script>
	{% endblock body %}