{% extends 'base.html' %}

{%load static%}
    
{% block lienCss %}
    <link rel="stylesheet" href="{%static 'css/ustyle.css'%}">
    {% endblock %}						


    {% block body %}
<!--Formulaire -->
	
<section class="grouper">
   
            <div class="form-container">
                <h1>{{ title }}</h1>
                <p> <a href="{% url 'users:index' %}">Return <i class="	fas fa-arrow-circle-right"></i></a></p>
               
               
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                  
                    <div class="form-group">
                        <label for="pseudo"> </label>
                        <input type="text" id="nom" placeholder="pseudo" name="username">
                    </div>
                    <div class="form-group">
                        <label for="mot de passe"> </label>
                        <input type="text" id="prenom" placeholder="mot de passe" name="password">
                    </div>
                   
                   
                   
                    <div class="form-buttons">
                        <button type="submit" name="action" value="Enregistrer" class="submit-button">Save</button>
                        <button type="button" name="action" value="annuler" class="cancel-button">Cancel</button>
                    </div>
                </form>
            </div> 

        </section>

	<script src="code.js"></script>
	
	{% endblock body %}
	
	
	

