
{% extends 'base.html' %}

{%load static%}

{% block lienCss %}
<link rel="stylesheet" href="{%static 'css/lstyle.css'%}">
{% endblock %}

    {% block body %}

<!--Formulaire --> 
	
<section class="grouper">
   
            <div class="form-container">
                <h1>Add a student</h1>
                <p> <a href="{% url 'students:index' %}">Return <i class="	fas fa-arrow-circle-right"></i></a></p>
                <form action="" method="post" enctype="multipart/form-data">
                  
                    {% csrf_token %}
                  <div class="form-group">

                       {{add_form}}
                </div>
                <div class="form-buttons">
                    <button type="button" class="cancel-button">Cancel</button>
                            <button type="submit" class="submit-button">Save</button>
                        </div>
                    </form>

                        <!-- <label for="nom"> </label>
                        <input type="text" id="nom" placeholder="nom" name="nom">
                    </div>
                    <div class="form-group">
                        <label for="prenom"> </label>
                        <input type="text" id="prenom" placeholder="prenom" name="prenom">
                    </div>
                    <div class="form-group gender-group">
                        <label><input type="radio" name="sexe" value="homme"> Homme: </label>
                        <label><input type="radio" name="sexe" value="femme"> Femme: </label>
                    </div>
                    <div class="form-group">
                        <label for="matricule"> </label>
                        <input type="text" id="matricule" placeholder="matricule" name="matricule">
                    </div>
                    <div class="form-group">
                        <label for="date_naissance"> </label>
                        <input type="date" id="date_naissance"  name="date_naissance">
                    </div>
                    <div class="form-group">
                        <label for="classe"></label>
                        <select id="classe" name="classe">
                            <option value="">Sélectionner une classe</option>
                            <option value="t1">Tle</option>
                            <option value="1ere">1ère</option>
                            <option value="2nd">2nd</option>
                            <option value="3eme">3ème</option>
                            <option value="4eme">4ème</option>
                            <option value="5eme">5ème</option>
                            <option value="6eme">6ème</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="telephone"> </label>
                        <input type="text" id="telephone" placeholder="telephone" name="telephone">
                    </div>
                    <div class="form-group">
                        <label for="ville">Ville: </label>
                        <input type="text" id="ville"  placeholder="ville" name="ville">
                    </div>
                    
            </div>

        </section>

    </div> -->

	<script src="code.js"></script>
	
	
{% endblock body %}
	
	
	


