.oui {
    font-family: Arial, sans-serif;
   
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-section {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 12px;
}

.pdf {
    background-color: #d9534f;
}

.excel {
    background-color: #5cb85c;
}

.btn:hover {
    opacity: 0.9;

}